.wrapper {
  width: 100%;
  max-width: 1000px;
  height: 978px;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  background: white;
  border: grey 1px solid;
  box-shadow: 0 0 7px #666;
  background-size: 100%;
}
.logo {
  padding-left: 20px;
  height: 174.5px;
}
.kontakti {
  float: right;
  width: 129px;
  height: 71px;
  color: #128aa7;
  font-family: Tahoma;
  font-size: 12px;
  margin-top: 20px;
  padding-right: 20px;
}

.flag {
float: right;
clear:both;
padding-top: 15px;
padding-right: 20px;
}
.flag img {
  display:block;
  padding: 0px 5px 0px 5px;
}
.flag span {
  display:inline-block;
}
.flag li {
  display:inline-block;
  text-align: center;
}
.flag a {
  font-family: Tahoma;
  font-size: 10px;
  color: #128aa7;
  text-decoration: underline;
}
.flag a img {
  height: 80%;
  width: 80%;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.flag a img:hover {
  width: 50%;
  height: 50%;
}

.ocean {
  width: 1002px;
  height: 237px;
  border-top: #128aa7 2px solid;
  border-bottom: #128aa7 2px solid;
  clear: both;
  padding-top: 0px;
}

#menu-b{
   float: left;
   list-style:none;
   width: 1000px;
   background: #343434;
   position: relative;
   color: #ffffff;
   font-family: Tahoma;
   font-size: 14px;
   display: inline;
   border-bottom: black 2px solid;
   box-shadow: 0 0 7px black;
 }
 #menu-b li{
   display: inline-block;
   margin-left: 3%;
   margin-right: 3%;
   position: relative;
}
#menu-b li a{

display: block;
padding: 5px;
color:#ffffff;
background:#343434;
text-decoration: none;
}
#menu-b ul{
list-style: none;
position: absolute;
left:-9999px;

}
#menu-b ul a{
  width: 149px;
  padding-bottom: 5px;
  padding-top: 5px;
  white-space: nowrap;
}
#menu-b li:hover ul{
left: 0;
top: 28.5px;
opacity: 1;


}
#menu-b li:hover ul li a:hover{
background: black;

}
#menu-b li.strel:after {
content: "\25BC";
font-size: .9em;
right: -6px;
top: 5px;
position: absolute;
display: block;
}

.inform {
width: 200px;
height: 521px;
float: left;
background: #edeef0;
color: #424c43;
font-family: Tahoma;
font-size: 14px;
text-align: center;
line-height: 1.7;

}
.empty {
width: 600px;
height: 521px;
background: white;
float: left;
background: ;
}
.nov {
width: 200px;
height: 521px;
background: #edeef0;
float: right;
color: #424c43;
font-family: Tahoma;
font-size: 14px;
text-align: center;

line-height: 1.6;
}
p:first-line {
  font-size: 18px;
}

footer {
clear: both;
font-family: Tahoma;
font-size: 12px;
text-align: center;
}
